@import "../style/colors.scss";
@import "../style/sizes.scss";

$left-padding: 10px;

.menu {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: $menu-width;
  background-color: $middle-gray;
  color: $bright-gray;

  a {
    color: inherit;
    text-decoration: none;

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      height: $header-height;
      font-size: 26px;
      background-color: $middle-blue;
    }
  }

  .login {
    display: flex;
    align-items: center;
    width: calc(100% - #{$left-padding});
    padding: 20px 0 $left-padding 20px;
  }

  a {
    color: inherit;
    text-decoration: none;

    .item {
      display: flex;
      width: calc(100% - #{$left-padding});
      padding: 10px 0 $left-padding 10px;
      transition-property: background-color;
      transition-duration: 0.2s;
      transition-timing-function: linear;

      span {
        margin-right: 5px;
      }

      &:hover {
        background-color: $dark-gray;
      }
    }
  }
}
