$bright-gray: rgb(236, 240, 245);

$light-gray: rgb(34, 45, 50);
$middle-gray: rgb(30, 40, 44);
$dark-gray: rgb(26, 34, 38);

$bright-blue: rgb(60, 141, 188);
$middle-blue: rgb(54, 127, 169);

$normal: rgb(0, 166, 90);
$warning: rgb(243,156,18);
$critical: rgb(231,76,60);